@import './../../scss/mixins';
@import './../../scss/nullstyle';

.wrapper{
    padding-left: 30px;
    height: 100%;
    width: 400px;
    background-color: #fff;
    @media (max-width: 800px) {
        background-color: #ffffff00;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }
}

.sort{
    position: relative;
    @media (max-width: 800px) {
        margin-bottom: 30px;
    }

    .head{
        @include flexbox();
        justify-content: flex-end;
        @media (max-width: 800px) {
            justify-content: center;
        }
    }

    img{
        margin-right: 7px;
        transform: rotate(180deg);
        cursor: pointer;
        @include anim(0.3s,0s);
    }

    p{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        margin-right: 8px;
        cursor: pointer;
        text-align: right;
        @media (max-width: 800px) {
            text-align: center;
        }

        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.015em;
            color: #FE5F1E;
            border-bottom: 1px dashed #FE5F1E;
            cursor: pointer;
        }
    }

    .options{
        z-index: 10;
        position: absolute;
        opacity: 0;
        top: 170%;
        right: 0;
        padding: 13px 0;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        // margin-top: 10px;
        min-width: 160px;
        @include anim(0.3s,0s);
        @media (max-width: 800px) {
            right: 50%;
            transform: translateX(50%);
        }
        

        li{
            padding: 10px 14px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.015em;
            color: #000000;
            margin-right: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            @include anim(0.2s,0s);
            cursor: pointer;

            img{
                width: 8px;
                height: 5px;
            }

            &:hover{
                background-color: rgb(237 229 229 / 33%);
                img{
                    width: 10px;
                    height: 6px;
                }
            }

            &.active{
                margin: 0;
                background: rgba(254, 95, 30, 0.05);
                font-weight: 700;
                letter-spacing: 0.015em;
                color: #FE5F1E;
                img{
                    width: 10px;
                    height: 6px;
                }
            }
        }
    }
}