@import './scss/mixins';
@import './scss/nullstyle';

.loading{
    padding: 70px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}